<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#69BA66;border-color:#69BA66">
  <div class="col-md-6">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" style="color:black">
        <li><a href="/admin">Home</a></li>
        <li><a href="/tambah-siswa">Tambah Siswa</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
  <div class="col-md-6">
    <div class="navbar-collapse collapse" style="float:right">
      <ul class="nav navbar-nav">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
